* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: aliceblue;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}
.title{
  font-size: 50px;
  font-style: bold;
}

.input-solution{
  width: 400px;
  height: 50px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: transparent;
  padding-left: 10px;
  font-size: 20px;
  color: white;
}

.gameboard{
  display: grid;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
}

.gameboard-row{
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.letter-container{
background-color: transparent;
border: solid 1px white;
border-radius: 2px;
font-size: 20px;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}

.letter-container-correct{
  background-color: rgb(10, 117, 10);
  border: solid 1px white;
  border-radius: 2px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .letter-container-rightLetter{
    background-color: rgb(255, 162, 0);
    border: solid 1px white;
    border-radius: 2px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .letter-container-wrong{
      background-color: rgb(104, 104, 104);
      border: solid 1px white;
      border-radius: 2px;
      font-size: 20px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      }

      .alert{
        margin-top: 10px;
        color: red;
        font-size: 20px;
      }

      .winner{
        color: green;
        font-size: 20px;
      }